<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selftest">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SelfTest">
        <activity
            android:name=".demo6.Demo6Activity"
            android:exported="false" />
        <activity
            android:name=".demo5.Demo5Activity"
            android:exported="false" />
        <activity
            android:name=".demo4b.Demo4bActivity"
            android:exported="false" />
        <activity
            android:name=".downloadbutton.DownloadButtonActivity"
            android:exported="false" />
        <activity
            android:name=".demo4a.Demo4aActivity"
            android:exported="false" />
        <activity
            android:name=".demo3d.Demo3dActivity"
            android:exported="false" />
        <activity
            android:name=".demo3c.Demo3cActivity"
            android:exported="false" />
        <activity
            android:name=".demo3b.Demo3bActivity"
            android:exported="false" />
        <activity
            android:name=".filletpic.FilletPicActivity"
            android:exported="false" />
        <activity
            android:name=".demo1b.Demo1bActivity"
            android:exported="false" />
        <activity
            android:name=".circleindicator.CircleIndicatorActivity"
            android:exported="false" />
        <activity
            android:name=".magicindicator.MagicIndicatorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="DIALOG_TEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".externalstorage.ExternalStorageActivity"
            android:exported="false" />
        <activity
            android:name=".internalstorage.InternalStorageActivity"
            android:exported="false" />
        <activity
            android:name=".xrecyclerview.XRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".swiperecyclerview.SwipeRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".service.ServiceActivity"
            android:exported="false" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".demo6.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".main.RootAcvitity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.NotifActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="true" />
        <activity android:name=".dialog.DialogActivity" />
    </application>

</manifest>